<footer class="Footer" style="background-color:#000;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				<a href="https://www.folger.edu/" class="Logo Footer-nav" style="padding-top:0;">
					<img class="Logo-img" src="/folger-logo-stacked.svg" style="height:3.5em;">
					{#<span class="Logo-desc">Digital Asset Platform</span>#}
				</a>
			</div>
			<div class="col-md-9">
				<ul class="Footer-nav">
					<li class="Footer-navItem">
						<a href="http://www.folger.edu/online-resources/digital-asset-platform">
                            {{ "About Miranda"|upper }}
						</a>
					</li>
					<li class="Footer-navItem">
						<a href="https://wiki.folger.edu/collections-architecture-portal">
                            {{ "Developer Portal"|upper }}
						</a>
					</li>
					<li class="Footer-navItem">
						<a href="https://www.folger.edu/online-resources">
                            {{ "Online Resources"|upper }}
						</a>
					</li>
{#
					<li class="Footer-navItem">
						<a href="#">
							{{ "Terms and Conditions"|upper }}
						</a>
					</li>
#}
{#
					<li class="Footer-navItem">
						<a href="#">
							{{ "Contact"|upper }}
						</a>
					</li>
#}
				</ul>
			</div>
		</div>
	</div>
</footer>
